<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <%= render "shared/errors", object: @article %>
  <h2> Add a comment </h2>
  <p>
    <%= form.label :commenter %><br />
    <%= form.text_field :commenter %>
  </p>

  <p>
    <%= form.label :body %><br />
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
