<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all',
                            'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag '/javascript/global.css', media: 'all',
                            skip_pipeline: true,
                            'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag '/javascript/application', skip_pipeline: true,
                               'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
